/* Top bar */

body{
    font-family: "berlin_sans_fb_demibold", Century Gothic, sans-serif;
    margin:0;
    padding:0;
    border:0;
    width: 100%;
    height: 100%;
}

#loading {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#SearchBar {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    line-height: 50px;
    border:none;
}

#SearchBar ul {
    width: auto;
    display: table;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    vertical-align: middle;
    white-space: nowrap;
}

#SearchBar ul li {
    display: inline;
    padding: 2px;
}



#SearchBar input {
    height: 20px;
    font-size: 18px;
    outline:none;
}

#searchButton{
    background: url("../images/searchButton.jpg");
    background-size: 100%;
    width: 30px;
    height: 30px;
}
#SearchBar input#searchButton {
    width: 30px;
    height: 30px;
    position: relative;
    border-style:none;
    cursor: pointer;
    vertical-align: middle;
}

#NavBar {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #93a8ff;
    font-size: 21px;
    color: white;
    line-height: 60px;
}

#LogOutButton {
    float: right;
}

#links {
    float: right;
    vertical-align: middle;
    padding-right: 20px;
}

#links a:link {
    color: white;
    text-decoration:none;
}

#links a:visited {
    color: white;
    text-decoration:none;
}

#links a:hover {
    color: black;
    text-decoration:none;
}

#logoutLink{
    padding-left: 5px;
    padding-right: 5px;
}

#itineraryLink {
    padding-left: 7px;
    padding-right: 7px;
    border-right: 2px solid white;
}

#accLink {
    padding-left: 7px;
    padding-right: 7px;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

#itinLink {
    padding-left: 7px;
    paddint-right: 7px;
    border-left: 2px solid white;
}

#topLeftText {
    float: left;
    vertical-align: middle;
    padding-left: 20px;
}

/* End of Top bar */

/* Content */
#searchResults {
    position: absolute;
    left: 0;
    width: 20%;
    height: calc(100% - 110px);
    padding: 0;
    overflow-y: auto;
    margin-top: 110px;
}

#map {
    position: absolute;
    left: 20%;
    width: 80%;
    height: calc(100% - 110px);
    padding: 0;
    margin-top: 110px;
}


/* Credentials change Form*/

#formContainer {
    position: absolute;
    top:70px;
    left: 0;
    width: 100%;
    height: 100%;
}

#changeCredentialsForm {
    position: absolute;
    display: block;
    width: 700px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 30px 0 black;
    text-align: center;
    background:rgba(255,255,255,.6);
}

#changeUsernameForm {
    float: left;
    border-right: 2px solid black;
}
#changePasswordForm {
    float: right;
}
#changeUsernameForm, #changePasswordForm {
    text-align: center;
    display: inline-block;
    width: 49%;
    height: 100%;
}

#changeCredentialsForm input {
    width: 80%;
    height: 30px;
    display: block;
    margin: 10px auto;
    font-size: 18px;
    outline:none;
}

#signUpForm input {
    width: 80%;
    height: 30px;
    display: block;
    margin: 10px auto;
    font-size: 18px;
    outline:none;
}

input:focus{
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

::-webkit-input-placeholder {
    font-family: "berlin_sans_fb_demibold", Century Gothic, sans-serif;
    font-size: 18px;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.29);
}

:-moz-placeholder { /* Firefox 18- */
    font-family: "berlin_sans_fb_demibold", Century Gothic, sans-serif;
    font-size: 18px;
    padding-left: 5px;
    color:  rgba(0, 0, 0, 0.29);
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: "berlin_sans_fb_demibold", Century Gothic, sans-serif;
    font-size: 18px;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.29);
}

:-ms-input-placeholder {
    font-family: "berlin_sans_fb_demibold", Century Gothic, sans-serif;
    font-size: 18px;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.29);
}

#changeCredentialsForm input#changeUsernameButton {
    display: block;
    position: relative;
    width: 142px;
    height: 48px;
    border-style:none;
    cursor: pointer;
}

#changeCredentialsForm input#changePasswordButton {
    display: block;
    position: relative;
    width: 142px;
    height: 48px;
    border-style:none;
    cursor: pointer;
}

#changeUsernameButton, #changePasswordButton  {
    background: url("../images/submit.png") no-repeat 0 0;
}


#changeUsernameButton:hover {
    background-position: 0 -48px;
}

#changePasswordButton:hover {
    background-position: 0 -48px;
}

/* More Info Css*/

#moreInfo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.moreInfoContent {
    position: relative;
    height: 80%;
    width: 80%;
    top:8%;
    margin: 0 auto;
    display: none;
    color: white;
}

#directions {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
    background: rgba(255, 255, 255, 0.8);
    display: none;
}

.directionsContent {
    position: relative;
    height: 80%;
    width: 80%;
    top: 8%;
    margin: 0 auto;
    display: none;
    color: black;
}

#reviewsDiv {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    float: right;
}

#photosDiv {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    float: left;
}

#directionsDiv {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#loadingDiv {
    background: url("../images/Please_wait.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    display: none;
}

/* Itinerary Page */

#currentItinerary {
    position: absolute;
    float: left;
    left: 0;
    width: 70%;
    height: calc(100% - 160px);
    padding: 0;
    overflow-y: auto;
    margin-top: 160px;
}

#savedItineraries {
    position: absolute;
    float: right;
    left: 70%;
    width: 30%;
    height: calc(100% - 160px);
    padding: 0;
    margin-top: 160px;
    overflow-y: auto;
}

.itineraryPlace {
    position: relative;
    width: 80%;
    height: 150px;
    border-bottom: 2px solid gray;
    margin: 10px auto 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.itineraryPlace img {
    max-height: 140px;
    max-width: 20%;
    margin: auto 0;
    vertical-align: middle;
}

#itineraryPlaceDetails {
    width: 75%;
    float: right;
}

#currentItineraryTitle {
    position: fixed;
    width: 70%;
    height: 50px;
    top: 60px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    color: brown;
    font-size: 18px
}

#currentItineraryTitle button {
    margin: 0 0 0 40px;
}

#savedItineraryTitle {
    position: fixed;
    width: 30%;
    height: 50px;
    top: 60px;
    line-height: 50px;
    text-align: center;
    color: brown;
    vertical-align: middle;
    font-size: 18px
}

#savedItinerary {
    margin: 10px auto 0;
    position: relative;
    width: 80%;
    text-align: center;
    border-bottom: 2px solid gray;
}

#savedItinerary h3 {
    color: mediumslateblue;
}

#savedItineraryContent {
    line-height: 20px;
}

/*End Itinerary Page */